<h1>Task一覧</h1>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= form_with(scope: :task,url: tasks_path, method: :get, local: true) do |f| %>
  <%= f.label :name_key, 'タスク名' %>
  <%= f.text_field :name_key %>
  <%= f.label :status_key, 'ステータス' %>
  <%= f.select :status_key, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択なし" %>
  <%= f.submit '検索' %>
<% end %>
<% @tasks.each do |task| %>
<div class = "task">
  <%= task.name %>
  <%= task.content %>
  <%= task.deadline %>
  <%= task.status %>
  <%= link_to "詳細", task_path(task.id) %>
  <%= link_to "編集", edit_task_path(task.id) %>
  <%= link_to "削除", task_path(task.id), method: :delete, data: { confirm: '削除しますか？' }  %>
</div>
<% end %>
