<h2>タスク一覧</h2><br>
<div class="menu">
  <div class="menu-left">
    <%= link_to "終了期限でソートする", tasks_path(sort_expired: "true"), class: 'btn btn-link' %>
    <%= link_to "優先度でソートする", tasks_path(sort_priority: "true"), class: 'btn btn-link' %>
  </div>
  <div class="menu-right">
    <%= form_with(scope: :task,url: tasks_path, method: :get, local: true) do |f| %>
      <%= f.label :name_key, 'タスク名' %>
      <%= f.text_field :name_key %>
      <%= f.label :status_key, 'ステータス' %>
      <%= f.select :status_key, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択なし" %>
      <%= f.submit '検索' %><br>
    <% end %>
  </div><br>
</div><br>


<table>
  <tr>
    <th class="task-name">タスク名</th>
    <th class="task-content">内容</th>
    <th class="task-column">期限</th>
    <th class="task-column">ステータス</th>
    <th class="task-column">優先度</th>
    <th class="task-column">ラベル</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr id="task">
      <div class = "task">
        <td class="task-name"><%= task.name %></td>
        <td class="task-content"><%= task.content %></td>
        <td class="task-column"><%= task.deadline %></td>
        <td class="task-column"><%= task.status %></td>
        <td class="task-column"><%= task.priority %></td>
        <td class="task-column">
          <% task.labels.each do |label| %>
            <%= label.label_type %>
          <% end %>
        </td>
        <td><%= link_to "詳細", task_path(task.id), class: 'btn btn-primary'  %></td>
        <td><%= link_to "編集", edit_task_path(task.id), class: "btn btn-success"  %></td>
        <td><%= link_to "削除", task_path(task.id), method: :delete, class: "btn btn-danger", data: { confirm: '削除しますか？' }  %></td>
      </div>
    </tr>
  <% end %>
</table>

<div class="page">
<%= paginate @tasks %>
</div>
