<h1>Task一覧</h1>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<% @tasks.each do |task| %>
<div class = "task">
  <%= task.name %>
  <%= task.content %>
  <%= task.deadline %>
  <%= task.status %>
  <%= link_to "詳細", task_path(task.id) %>
  <%= link_to "編集", edit_task_path(task.id) %>
  <%= link_to "削除", task_path(task.id), method: :delete, data: { confirm: '削除しますか？' }  %>
</div>
<% end %>
