<% if @user.present? %>
  <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
    </ul>
  </div>
<% end %>
<h2>アカウント一覧</h2>
<table>
  <tr>
    <th class="user-name">ユーザー名</th>
    <th class="user-email">Email</th>
    <th class="user-task">タスク数</th>
    <th class="user-admin">管理者権限</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr id="task">
      <td class="task-name"><%= user.name %></td>
      <td class="user-email"><%= user.email %></td>
      <td class="user-task"><%= user.tasks.count %></td>
      <% if user.admin == true %>
      <td class="user-admin"><%= "✔︎" %></td>
      <% else %>
      <td class="user-admin"><%= "" %></td>
      <% end %>
      <td><%= link_to "詳細", admin_user_path(user.id), class: 'btn btn-primary'  %></td>
      <td><%= link_to "編集", edit_admin_user_path(user.id), class: 'btn btn-success'  %></td>
      <td><%= link_to "削除", admin_user_path(user.id), method: :delete, class: "btn btn-danger", data: { confirm: '削除しますか？' }  %></td>
    </tr>
  <% end %>
</table>
