<h2><%= @user.name %>のページ</h2>
<p>メールアドレス: <%= @user.email %></p>
<% if @tasks.present? %>
  <table>
    <tr>
      <th class="task-name">タスク名</th>
      <th class="task-content">内容</th>
      <th class="task-column">期限</th>
      <th class="task-column">ステータス</th>
      <th class="task-column">優先度</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <div class = "task">
          <td class="task-name"><%= task.name %></td>
          <td class="task-content"><%= task.content %></td>
          <td class="task-column"><%= task.deadline %></td>
          <td class="task-column"><%= task.status %></td>
          <td class="task-column"><%= task.priority %></td>
          <td><%= link_to "詳細", task_path(task.id), class: 'btn btn-primary'  %></td>
          <td><%= link_to "編集", edit_task_path(task.id), class: "btn btn-success"  %></td>
          <td><%= link_to "削除", task_path(task.id), method: :delete, class: "btn btn-danger", data: { confirm: '削除しますか？' }  %></td>
        </div>
      </tr>
    <% end %>
  </table>

<% else %>
  <h3>現在タスクはありません</h3>
<% end %>
