<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice %><br>
    <header>
      <p>Task_Management</P>
      <div class="header-link">
        <%= link_to "タスク一覧", tasks_path %>
        <%= link_to "タスク登録", new_task_path %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
